@model Collectr.Models.Customer

@{
    ViewBag.Title = "CustomerDetails";
}
<script type="text/javascript" src="\APIKeys\config.js"></script>
<h2>Customer Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            Collection status
        </dt>
            @if (Model.LatestPickedUp == false && Model.NextPickup.Value.Date == DateTime.Today.Date)
            {
                <dd>
                    Not Collected <br /><br />
                    @Html.ActionLink("Collect Garbage", "Collect", new { customerId = Model.ApplicationId })
                </dd>
            }
            else
            {
                <dd>
                    Collected
                </dd>
            }
    </dl>
</div>

@{ 
    string query = "";
    query += Model.StreetAddress.Replace(' ', '+');
    query += ",";
    query += Model.City;
    query += ",";
    query += Model.State;
    query += ",+USA";

    string source = "https://www.google.com/maps/embed/v1/search?q=" + query;
}



<div id="iframe-div">
    
</div>

<script>
    var key = config.EMBED_KEY;
    var sourceString = "@source";
    var iframeDiv = document.getElementById("iframe-div");
    var map = document.createElement("iframe");
    map.setAttribute("width", "600");
    map.setAttribute("height", "450");
    map.setAttribute("frameborder", "0");
    map.setAttribute("style", "border:0");
    map.setAttribute("src", sourceString + "&key=" + key);
    iframeDiv.appendChild(map);
</script>

@Html.ActionLink("Back to List", "Index", new {name = User.Identity.Name})