@model Collectr.Models.Customer

@{
    ViewBag.Title = "CustomerDetails";
}
<script type="text/javascript" src="~\APIKeys\config.js"></script>
<h2>Customer Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            Collection status
        </dt>
            @if (Model.LatestPickedUp == false)
            {
                <dd>
                    Not Collected <br /><br />
                    @Html.ActionLink("Collect Garbage", "Collect", new { customerId = Model.ApplicationId })
                </dd>
            }
            else
            {
                <dd>
                    Collected
                </dd>
            }
    </dl>
</div>

@{ 
    string query = "";
    query += Model.StreetAddress.Replace(' ', '+');
    query += ",";
    query += Model.City;
    query += ",";
    query += Model.State;
    query += ",+USA";

    string source = "https://www.google.com/maps/embed/v1/search?q=" + query + "&key=" ;
}

<div>
    <iframe width="600" height="450" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/search?q=7223+West+Lakefield+Drive,+Milwaukee,+WI,+USA&key=l" allowfullscreen></iframe>
</div>