@model List<Collectr.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Today's pickups</h4>
    <hr />
    <table>
        <tr>
            <td>Customer:</td>
            <td>Address:</td>
            <td>Next Pickup Date:</td>
            <td>View Details</td>
        </tr>
        @foreach (Collectr.Models.Customer customer in Model)
        {
            string fullName = customer.FirstName + " " + customer.LastName;
            string fullAddress = customer.StreetAddress + " " + customer.City + ", " + customer.State + " " + customer.ZipCode;

            <tr>
                <td>@fullName</td>
                <td>@fullAddress</td>
                <td>@customer.NextPickup</td>
                <td>@Html.ActionLink("View Details", "CustomerDetails", new { customerId = customer.ApplicationId })</td>
            </tr>
        }
    </table>

    <table>
        <tr>
            <td>@Html.ActionLink("View list for Today", "Index", new { name = User.Identity.Name })</td>
            <td>@Html.ActionLink("View list for Sundays", "ListByDay", new { dayOfTheWeek = DayOfWeek.Sunday, name = User.Identity.Name })</td>
            <td>@Html.ActionLink("View list for Mondays", "ListByDay", new { dayOfTheWeek = DayOfWeek.Monday, name = User.Identity.Name })</td>
            <td>@Html.ActionLink("View list for Tuesdays", "ListByDay", new { dayOfTheWeek = DayOfWeek.Tuesday, name = User.Identity.Name })</td>
            <td>@Html.ActionLink("View list for Wednesdays", "ListByDay", new { dayOfTheWeek = DayOfWeek.Wednesday, name = User.Identity.Name })</td>
            <td>@Html.ActionLink("View list for Thursdays", "ListByDay", new { dayOfTheWeek = DayOfWeek.Thursday, name = User.Identity.Name })</td>
            <td>@Html.ActionLink("View list for Fridays", "ListByDay", new { dayOfTheWeek = DayOfWeek.Friday, name = User.Identity.Name })</td>
            <td>@Html.ActionLink("View list for Saturdays", "ListByDay", new { dayOfTheWeek = DayOfWeek.Saturday, name = User.Identity.Name })</td>
        </tr>
    </table>
</div>